<div class="container">
    <div class="card" *ngFor="let c of courses">
        <div><img [src]="c.image" alt="" style="width: 200px; height: 150px;"></div>
        <div class="details">
            <h3>{{c.name}}</h3>
            <span>{{c.description}}</span>
            <div>
                <span>{{c.type}}</span>
                <span><b>price: </b>{{c.price}}</span>
            </div>
            <div>
                <button>Show Details</button>
                <button>Buy Now</button>
            </div>

        </div>

    </div>
</div>